.wrapper.svelte-17j22sm{display:flex;flex-direction:column;align-items:center;flex:1;padding:var(--space_xl2)}.breadcrumbs.svelte-17j22sm{margin-top:var(--space_xl3);display:flex;flex-direction:column;align-items:center}
